<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>TripoAsia</title>
	
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    
    <!-- Bootstrap core CSS -->    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/plugins/morris.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/tobeadded.css" rel="stylesheet">
    
   

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->

   
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="becomeahost_wrapper">
<header class="top_header becomeahost_header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><img src="images/dashboard-logo.png" width="128" height="47" alt=""/></a>
            </div>
            <!-- Top Menu Items -->
            <div class="header_massage">
            	Step 2: Set the scene
            </div>
            <ul class="nav navbar-right top-nav host_twoNav">
            	<li>Saved 25 minutes ago </li>
                <li><a href="#">Save and Exit</a></li>
            </ul>
            </header>
<div class="top_ber" style="width:20%;">
<div class="progress_tooltip">50%</div>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:100%; height:20px;"></div>
</div>
</div>
<div class="grey-hostcont">
	<div class="top_hanger">
    	<div class="top_hangerContent">
        <img src="images/becameahost/img-hangher.png" alt=" ">
        <div class="circle_icon"><img src="images/becameahost/blub.png" alt=" "></div>
        <h3>Description.</h3>
        <h2>Based on what you chose, this is your summary description.You can edit and change it as you see fit. Keeping it as a brief overview makes it easier for guests 
to read.</h2>
            
        </div>
    </div>
	<div class="becomehost_tot placelocated_description">
        <div class="container">
            <div class="col-sm-6 innerhost_form">
            	<h4>Edit your <span>Description</span></h4>                
                <form>
                    <div class="form-group">
                      <small>Max 450</small> 	
                      <textarea class="form-control">My place is close to the beach and public transport. You’ll love my place because of the light and the kitchen. My place is good for couples and families (with kids).My place is close to the beach and public transport. You’ll love my place because of the light and the kitchen. My place is good for couples and families (with kids). My place is close to the beach and public transport. You’ll love my place because of the light and the kitchen. 
                      My place is good for couples and families (with kids).My place is close to the beach and public transport. You’ll love my place because of the light and the kitchen. My place is good for couples and families (with kids)</textarea>
                    </div>
                    <div class="submitbtn-block clearfix">
                    	<hr>
                    	<a href="" class="btn-link btn-linkgrey pull-left">Back</a>
                        <button type="submit" class="btn btn-warning btn-lg text-normal left-marg pull-right text-uppercase">Next<img src="images/orange-tick.png" alt=""></button>
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div>
<div class="specialist_area">
    	<div class="specialist_inner">
        	<div class="col-sm-7">
            	<div class="specialist-left">
                	<span>
                    	10
                        <b><i class="fa fa-comment" aria-hidden="true"></i></b>
                    </span>
                    <h2>Specialists across</h2>
                    <p>the Kuala Lumpur to assist you</p>
                </div>
            </div>
            <div class="col-sm-5">
            	<div class="specialist-right">
                	<ul>
                    <li><img src="images/becameahost/img1.png" alt=" "></li>
                    <li><img src="images/becameahost/img2.png" alt=" "></li>
                    <li><img src="images/becameahost/img3.png" alt=" "></li>
                    <li><a href="#"><img src="images/becameahost/img4.png" alt=" "></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<footer class="becomeahost_bottom">
    	<div class="becomeahost_bottomTop">
        	<div class="col-sm-1">
            	<div class="becomeahost_bottomCell">
                	<h2>Quick Links</h2>
                    <ul>
                    <li><a href="#">Story</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-1">
            	<div class="becomeahost_bottomCell">
                	<h2>tours</h2>
                    <ul>
                    <li><a href="#">Group Tours</a></li>
                    <li><a href="#">Solo Tours</a></li>
                    <li><a href="#">Speciality  Tours</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
            	<div class="becomeahost_bottomCell">
                	<h2>Services</h2>
                    <ul>
                    <li><a href="#">Our Travel Angels</a></li>
                    <li><a href="#">Activities in Malayasia</a></li>
                    <li><a href="#">JRP Assistance</a></li>
                    <li><a href="#">A Holiday in Kulampur</a></li>
                    <li><a href="#">Prepare Malayasia Trip</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
            	<div class="becomeahost_bottomCell two_cell">
                	<h2>Accommodation</h2>
                    <ul>
                        <li><a href="#">Houses for Rent in Malayasia</a></li>
                        <li><a href="#">Houses for Rent in Kulampur</a></li>
                        <li><a href="#">Houses for Rent in Malayasia</a></li>
                        <li><a href="#">Houses for Rent in Kulampur</a></li>
                        <li><a href="#">Houses for Rent in Malayasia</a></li>
                        <li><a href="#">Houses for Rent in Kulampur</a></li>
                        <li><a href="#">Houses for Rent in Malayasia</a></li>
                        <li><a href="#">Houses for Rent in Kulampur</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
            	<div class="becomeahost_bottomCell get-touch">
                	<h2>Get in touch</h2>
                    <p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>84 Street, City, State 24813</li>
                        <li><i class="fa fa-mobile" aria-hidden="true"></i>
						<a href="tel:+00 (123) 456 78 90">+00 (123) 456 78 90</a></li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i>
						<a href="mailto:info@Tripoasia.com">info@Tripoasia.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
            	<div class="becomeahost_bottomCell last_cell">
                	<h2>Email Subscribe</h2>
                    <p>Tibusam eumenis et consent accullignis dentibea autem inisita.</p>
                    <div class="suscribe_area">
                    	<div class="suscribe_area_input">
                        	<input type="text" value=""  name="" placeholder="Enter your email address" />
                        </div>
                        <div class="suscribe_area_submit">
                        	<input type="submit" value="Subscribe"  name=""  />
                        </div>
                    </div>
                    <div class="become_social">
                    	<ul>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="becomeahost_bottomBottom">
        	<p>&copy; 2016 Tripoasia. All rights reserved.</p>
        </div>
    </footer>
</div>
</body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
$(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
</script>
<script src="js/plugins/morris/raphael.min.js"></script>
<script src="js/plugins/morris/morris.min.js"></script>
<script src="js/plugins/morris/morris-data.js"></script>
</html>
