<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TripoAsia</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/plugins/morris.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/tobeadded.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
</head>
<!-- NAVBAR
================================================== -->

<body class="becomeahost_section">
    <div class="becomeahost_wrapper">
        <div class="top_hanger">
            <div class="top_hangerContent">
                <img src="images/becameahost/img-hangher.png" alt=" ">
                <h2>In a week, hosts sharing their entire place
in Kolkata are earning:</h2>
                <h3>&#8377;7,661</h3>
            </div>
        </div>
        <header class="top_header becomeahost_header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><img src="images/dashboard-logo.png" width="128" height="47" alt="" /></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>
                        <svg id="Layer_1">
<g>
    <g>
        <path fill="#FCB020" d="M11.8,4.9c-0.5-2-2.2-3.3-4.2-3.7c-1.5-0.4-3.2,0-4.5,0.9c-1.2,0.9-2,2.2-2,3.7c0,0.7,0.5,1.1,1.2,1.1
            c0.7,0,1.2-0.4,1.2-1.1c0-0.7,0.2-1.5,1-2c0.7-0.4,1.5-0.7,2.5-0.4c1.2,0.2,2,1.1,2.2,2c0.2,1.1,0,2-1,2.6c-2,1.3-3,3.3-3,5.3
            c0,0.7,0.5,1.1,1.2,1.1c0.7,0,1.2-0.4,1-1.1c0-1.3,1-2.6,2.2-3.5C11.6,8.4,12.3,6.7,11.8,4.9z M7.4,19c-0.5-0.4-1.2-0.4-1.7,0
            c-0.2,0.2-0.2,0.7-0.2,0.9c0,0.2,0,0.4,0.2,0.7c0.2,0.2,0.7,0.4,1,0.4c0.2,0,0.7-0.2,0.7-0.4c0.2,0,0.5-0.4,0.5-0.7
            C7.9,19.4,7.6,19.2,7.4,19z"/>
    </g>
</g>
</svg>
                    </span>
                        <b>help</b>
                    </a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>
                        <svg version="1.1" id="Layer_1"
     viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
<g>
    <g>
        <path fill="#7F7F7F" d="M7.9,8.4l-0.5,1.9c0,0.1,0,0.3,0.1,0.3c0.1,0.1,0.2,0.1,0.3,0.1c0,0,0.1,0,0.1,0l1.9-0.5
            c0.1,0,0.1,0,0.2-0.1l5.7-5.7c0,0,0,0,0,0c0,0,0,0,0,0l1.1-1.2c0.1-0.1,0.1-0.4,0-0.5l-1.4-1.4c-0.1-0.1-0.2-0.1-0.3-0.1
            c-0.1,0-0.2,0-0.3,0.1l-1.1,1.2c0,0,0,0,0,0c0,0,0,0,0,0L8,8.2C8,8.2,7.9,8.3,7.9,8.4z M15.1,2.1L16,3l-0.6,0.6l-0.9-0.9L15.1,2.1
            z M8.6,8.6l5.3-5.4l0.9,0.9L9.5,9.5L8.3,9.8L8.6,8.6z M16.5,5.1c-0.2,0-0.4,0.2-0.4,0.4v11.6H4.9V3.3h6.6c0.2,0,0.4-0.2,0.4-0.4
            c0-0.2-0.2-0.4-0.4-0.4h-7c-0.2,0-0.4,0.2-0.4,0.4v14.5c0,0.2,0.2,0.4,0.4,0.4h11.9c0.2,0,0.4-0.2,0.4-0.4v-12
            C16.8,5.3,16.7,5.1,16.5,5.1z"/>
    </g>
</g>
</svg>
                    </span>
                        <b>sign up</b>
                    </a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
<g>
    <g>
        <path fill="#757576" d="M9.1,13.8c-0.1,0.1-0.1,0.3,0,0.5c0.1,0.1,0.2,0.1,0.2,0.1c0.1,0,0.2,0,0.2-0.1l4.1-4c0,0,0.1-0.1,0.1-0.1
            c0-0.1,0-0.2,0-0.3c0,0,0-0.1-0.1-0.1l-4.1-4c-0.1-0.1-0.3-0.1-0.5,0C9,5.9,9,6.1,9.1,6.2l3.5,3.5H2.2C2,9.7,1.9,9.8,1.9,10
            c0,0.2,0.2,0.3,0.3,0.3h10.3L9.1,13.8z M17.8,0.6H5.3c-0.2,0-0.3,0.1-0.3,0.3v7c0,0.2,0.2,0.3,0.3,0.3S5.6,8.2,5.6,8V1.3h11.8
            v17.4H5.6V12c0-0.2-0.2-0.3-0.3-0.3S4.9,11.8,4.9,12v7c0,0.2,0.2,0.3,0.3,0.3h12.5c0.2,0,0.3-0.2,0.3-0.3V0.9
            C18.1,0.8,18,0.6,17.8,0.6z"/>
    </g>
</g>
</svg>
                    </span>
                        <b>login</b>
                    </a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <div class="specialist_area">
            <div class="specialist_inner">
                <div class="col-sm-7">
                    <div class="specialist-left">
                        <span>
                        10
                        <b><i class="fa fa-comment" aria-hidden="true"></i></b>
                    </span>
                        <h2>Specialists across</h2>
                        <p>the Kuala Lumpur to assist you</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="specialist-right">
                        <ul>
                            <li><img src="images/becameahost/img1.png" alt=" "></li>
                            <li><img src="images/becameahost/img2.png" alt=" "></li>
                            <li><img src="images/becameahost/img3.png" alt=" "></li>
                            <li>
                                <a href="#"><img src="images/becameahost/img4.png" alt=" "></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="becomeahost_bottom">
            <div class="becomeahost_bottomTop">
                <div class="col-sm-1">
                    <div class="becomeahost_bottomCell">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="#">Story</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Feedback</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="becomeahost_bottomCell">
                        <h2>tours</h2>
                        <ul>
                            <li><a href="#">Group Tours</a></li>
                            <li><a href="#">Solo Tours</a></li>
                            <li><a href="#">Speciality  Tours</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="becomeahost_bottomCell">
                        <h2>Services</h2>
                        <ul>
                            <li><a href="#">Our Travel Angels</a></li>
                            <li><a href="#">Activities in Malayasia</a></li>
                            <li><a href="#">JRP Assistance</a></li>
                            <li><a href="#">A Holiday in Kulampur</a></li>
                            <li><a href="#">Prepare Malayasia Trip</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="becomeahost_bottomCell two_cell">
                        <h2>Accommodation</h2>
                        <ul>
                            <li><a href="#">Houses for Rent in Malayasia</a></li>
                            <li><a href="#">Houses for Rent in Kulampur</a></li>
                            <li><a href="#">Houses for Rent in Malayasia</a></li>
                            <li><a href="#">Houses for Rent in Kulampur</a></li>
                            <li><a href="#">Houses for Rent in Malayasia</a></li>
                            <li><a href="#">Houses for Rent in Kulampur</a></li>
                            <li><a href="#">Houses for Rent in Malayasia</a></li>
                            <li><a href="#">Houses for Rent in Kulampur</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="becomeahost_bottomCell get-touch">
                        <h2>Get in touch</h2>
                        <p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>84 Street, City, State 24813</li>
                            <li><i class="fa fa-mobile" aria-hidden="true"></i>
                                <a href="tel:+00 (123) 456 78 90">+00 (123) 456 78 90</a></li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <a href="mailto:info@Tripoasia.com">info@Tripoasia.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="becomeahost_bottomCell last_cell">
                        <h2>Email Subscribe</h2>
                        <p>Tibusam eumenis et consent accullignis dentibea autem inisita.</p>
                        <div class="suscribe_area">
                            <div class="suscribe_area_input">
                                <input type="text" value="" name="" placeholder="Enter your email address" />
                            </div>
                            <div class="suscribe_area_submit">
                                <input type="submit" value="Subscribe" name="" />
                            </div>
                        </div>
                        <div class="become_social">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="becomeahost_bottomBottom">
                <p>&copy; 2016 Tripoasia. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
$(document).ready(function() {
    var trigger = $('.hamburger'),
        overlay = $('.overlay'),
        isClosed = false;

    trigger.click(function() {
        hamburger_cross();
    });

    function hamburger_cross() {

        if (isClosed == true) {
            overlay.hide();
            trigger.removeClass('is-open');
            trigger.addClass('is-closed');
            isClosed = false;
        } else {
            overlay.show();
            trigger.removeClass('is-closed');
            trigger.addClass('is-open');
            isClosed = true;
        }
    }

    $('[data-toggle="offcanvas"]').click(function() {
        $('#wrapper').toggleClass('toggled');
    });
});
</script>
<script src="js/plugins/morris/raphael.min.js"></script>
<script src="js/plugins/morris/morris.min.js"></script>
<script src="js/plugins/morris/morris-data.js"></script>

</html>
