<!--middle area-->
<div id="page-wrapper">
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-open animated fadeInLeft" data-toggle="offcanvas"> </button>
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb custom-style">
                        <li class="active">
                            Dashboard/Manage Employee
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Manage Employee</h3>
                            <button type="button" class="btn btn-warning abs-btn rounded-btn"><img src="images/plus-icon.png" alt=""></button>
                        </div>
                        <div class="panel-body no-pad-top-bottom">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sl</th>
                                            <th>name</th>
                                            <th>email</th>
                                            <th>phone</th>
                                            <th>address</th>
                                            <th>role</th>
                                            <th>details</th>
                                            <th>delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#986587421</td>
                                            <td>Mike Hudson</td>
                                            <td>mikehudson.1@gmail.com</td>
                                            <td>+8795 3256</td>
                                            <td>21 , Rufel street ,70058 , feder road</td>
                                            <td>Manager</td>
                                            <td><a href="" class="btn btn-success with-icon"><i class="fa fa-eye" aria-hidden="true"></i>View</a></td>
                                            <td><a href="" class="btn btn-danger with-icon"><i class="fa fa-trash-o" aria-hidden="true"></i>delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>#986587421</td>
                                            <td>Mike Hudson</td>
                                            <td>mikehudson.1@gmail.com</td>
                                            <td>+8795 3256</td>
                                            <td>21 , Rufel street ,70058 , feder road</td>
                                            <td>Manager</td>
                                            <td><a href="" class="btn btn-success with-icon"><i class="fa fa-eye" aria-hidden="true"></i>View</a></td>
                                            <td><a href="" class="btn btn-danger with-icon"><i class="fa fa-trash-o" aria-hidden="true"></i>delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>#986587421</td>
                                            <td>Mike Hudson</td>
                                            <td>mikehudson.1@gmail.com</td>
                                            <td>+8795 3256</td>
                                            <td>21 , Rufel street ,70058 , feder road</td>
                                            <td>Manager</td>
                                            <td><a href="" class="btn btn-success with-icon"><i class="fa fa-eye" aria-hidden="true"></i>View</a></td>
                                            <td><a href="" class="btn btn-danger with-icon"><i class="fa fa-trash-o" aria-hidden="true"></i>delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>#986587421</td>
                                            <td>Mike Hudson</td>
                                            <td>mikehudson.1@gmail.com</td>
                                            <td>+8795 3256</td>
                                            <td>21 , Rufel street ,70058 , feder road</td>
                                            <td>Manager</td>
                                            <td><a href="" class="btn btn-success with-icon"><i class="fa fa-eye" aria-hidden="true"></i>View</a></td>
                                            <td><a href="" class="btn btn-danger with-icon"><i class="fa fa-trash-o" aria-hidden="true"></i>delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>#986587421</td>
                                            <td>Mike Hudson</td>
                                            <td>mikehudson.1@gmail.com</td>
                                            <td>+8795 3256</td>
                                            <td>21 , Rufel street ,70058 , feder road</td>
                                            <td>Manager</td>
                                            <td><a href="" class="btn btn-success with-icon"><i class="fa fa-eye" aria-hidden="true"></i>View</a></td>
                                            <td><a href="" class="btn btn-danger with-icon"><i class="fa fa-trash-o" aria-hidden="true"></i>delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>#986587421</td>
                                            <td>Mike Hudson</td>
                                            <td>mikehudson.1@gmail.com</td>
                                            <td>+8795 3256</td>
                                            <td>21 , Rufel street ,70058 , feder road</td>
                                            <td>Manager</td>
                                            <td><a href="" class="btn btn-success with-icon"><i class="fa fa-eye" aria-hidden="true"></i>View</a></td>
                                            <td><a href="" class="btn btn-danger with-icon"><i class="fa fa-trash-o" aria-hidden="true"></i>delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>#986587421</td>
                                            <td>Mike Hudson</td>
                                            <td>mikehudson.1@gmail.com</td>
                                            <td>+8795 3256</td>
                                            <td>21 , Rufel street ,70058 , feder road</td>
                                            <td>Manager</td>
                                            <td><a href="" class="btn btn-success with-icon"><i class="fa fa-eye" aria-hidden="true"></i>View</a></td>
                                            <td><a href="" class="btn btn-danger with-icon"><i class="fa fa-trash-o" aria-hidden="true"></i>delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination pull-right">
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
