<!-- maincontent -->
<section class="maincontent">
    <div class="container">
        <!-- heading-block -->
        <div class="col-sm-6 col-sm-offset-3 heading-block text-center">
            <h2>Kuala Lumpur Experience</h2>
            <p>Pellentesque vitae convallis risus, vitae mollis tellus.Curabitur nunc sem, venenatis non consequat et, gravida sed lorem vitae elementum.</p>
        </div>
        <!--// heading-block -->
        <!-- service-home-section -->
        <section class="service-home-section">
            <ul class="grid">
                <li class="grid-item grid-sizer">
                    <div class="img-section">
                        <a href=""><img src="images/homeserv1.jpg" alt=""></a>
                    </div>
                    <div class="content-section">
                        <div class="round-section">
                            <div class="table-prop">
                                <div class="table-cell">
                                    <img src="images/home-1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <h4><a href="">HOUSE RENTAL</a></h4>
                        <p>For short and long stays</p>
                    </div>
                </li>
                <li class="grid-item grid-sizer">
                    <div class="img-section">
                        <a href=""><img src="images/homeserv2.jpg" alt=""></a>
                    </div>
                    <div class="content-section">
                        <div class="round-section">
                            <div class="table-prop">
                                <div class="table-cell">
                                    <img src="images/home-2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <h4><a href="">GROUP TOURS</a></h4>
                        <p>Travel with an expert</p>
                    </div>
                </li>
                <li class="grid-item grid-sizer">
                    <div class="img-section">
                        <a href=""><img src="images/homeserv3.jpg" alt=""></a>
                    </div>
                    <div class="content-section">
                        <div class="round-section grey">
                            <div class="table-prop">
                                <div class="table-cell">
                                    <img src="images/home-3.png" alt="">
                                </div>
                            </div>
                        </div>
                        <h4><a href="">accomodation</a></h4>
                        <p>Whole houses in over 2,000 unique locations</p>
                    </div>
                </li>
                <li class="grid-item grid-sizer">
                    <div class="img-section">
                        <a href=""><img src="images/homeserv5.jpg" alt=""></a>
                    </div>
                    <div class="content-section">
                        <div class="round-section grey">
                            <div class="table-prop">
                                <div class="table-cell">
                                    <img src="images/home-4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <h4><a href="">CAR RENTAL</a></h4>
                        <p>Discover Malaysia by road</p>
                    </div>
                </li>
                <li class="grid-item grid-sizer">
                    <div class="img-section">
                        <a href=""><img src="images/homeserv4.jpg" alt=""></a>
                    </div>
                    <div class="content-section">
                        <div class="round-section">
                            <div class="table-prop">
                                <div class="table-cell">
                                    <img src="images/home-5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <h4><a href="">ACTIVITIES</a></h4>
                        <p>Experiences, workshops and walks</p>
                    </div>
                </li>
            </ul>
        </section>
        <!--// service-home-section -->
        <!-- heading-block -->
        <div class="col-sm-6 col-sm-offset-3 heading-block text-center">
            <h2>INTERACTIVE map</h2>
            <p>More than 1500 articles to discover more about Malayasia and plan for your trip.</p>
        </div>
        <!--// heading-block -->
    </div>
    <div class="homemap">
        <!-- mapdescription-panel -->
        <div class="mapdescription-panel">
            <div class="content_section">
                <div class="top-content">
                    <h2 class="text-uppercase">discover <span>malaysia</span></h2>
                    <p>Whether it is your first time travelling to Malaysia or not, this interactive map will help you plan your itinerary and places to visit.Discover
                    </p>
                </div>
                <a href="" class="btn btn-info text-uppercase">Discover</a>
            </div>
        </div>
        <!--// mapdescription-panel -->
        <div id="map"></div>
    </div>
    <div class="container">
        <!-- heading-block -->
        <div class="col-sm-6 col-sm-offset-3 heading-block text-center">
            <h2>popular cities</h2>
            <p>One click to discover the best of Malayasia travel.</p>
        </div>
        <!--// heading-block -->
        <div class="owl-carousel pop_city">
            <div class="item">
                <div class="img-sect" style="background:url(images/popcity1.jpg) no-repeat 0 0;">
                    <a href="" class="read_more_triangle"><img src="images/arrow-readmore.png" alt=""></a>
                </div>
                <h4>Kuala Lumpur</h4>
                <p>THE METROPOLIS</p>
            </div>
            <div class="item">
                <div class="img-sect" style="background:url(images/popcity2.jpg) no-repeat 0 0;">
                    <a href="" class="read_more_triangle"><img src="images/arrow-readmore.png" alt=""></a>
                </div>
                <h4>Kuala Lumpur</h4>
                <p>THE METROPOLIS</p>
            </div>
            <div class="item">
                <div class="img-sect" style="background:url(images/popcity3.jpg) no-repeat 0 0;">
                    <a href="" class="read_more_triangle"><img src="images/arrow-readmore.png" alt=""></a>
                </div>
                <h4>Kuala Lumpur</h4>
                <p>THE METROPOLIS</p>
            </div>
            <div class="item">
                <div class="img-sect" style="background:url(images/popcity1.jpg) no-repeat 0 0;">
                    <a href="" class="read_more_triangle"><img src="images/arrow-readmore.png" alt=""></a>
                </div>
                <h4>Kuala Lumpur</h4>
                <p>THE METROPOLIS</p>
            </div>
            <div class="item">
                <div class="img-sect" style="background:url(images/popcity2.jpg) no-repeat 0 0;">
                    <a href="" class="read_more_triangle"><img src="images/arrow-readmore.png" alt=""></a>
                </div>
                <h4>Kuala Lumpur</h4>
                <p>THE METROPOLIS</p>
            </div>
            <div class="item">
                <div class="img-sect" style="background:url(images/popcity3.jpg) no-repeat 0 0;">
                    <a href="" class="read_more_triangle"><img src="images/arrow-readmore.png" alt=""></a>
                </div>
                <h4>Kuala Lumpur</h4>
                <p>THE METROPOLIS</p>
            </div>
        </div>
    </div>
    <!-- total-vidgallery -->
    <div class="total-vidgallery">
        <!-- heading-block -->
        <div class="col-sm-6 col-sm-offset-3 heading-block text-center">
            <h2>video gallery</h2>
            <p>Videos to give you a taster before your trip to Malayasia.</p>
        </div>
        <!--// heading-block -->
        <div class="container">
            <div class="video-gallery">
                <div style="display:none;" id="video1">
                    <video class="lg-video-object lg-html5" controls preload="none">
                        <source src="videos/video1.mp4" type="video/mp4"> Your browser does not support HTML5 video.
                    </video>
                </div>
                <div style="display:none;" id="video2">
                    <video class="lg-video-object lg-html5" controls preload="none">
                        <source src="videos/video2.mp4" type="video/mp4"> Your browser does not support HTML5 video.
                    </video>
                </div>
                <div style="display:none;" id="video3">
                    <video class="lg-video-object lg-html5" controls preload="none">
                        <source src="videos/video3.mp4" type="video/mp4"> Your browser does not support HTML5 video.
                    </video>
                </div>
                <div style="display:none;" id="video4">
                    <video class="lg-video-object lg-html5" controls preload="none">
                        <source src="../static/videos/video4.mp4" type="video/mp4"> Your browser does not support HTML5 video.
                    </video>
                </div>
                <div class="dark mrb35 allroundpad">
                    <ul id="html5-videos" class="list-unstyled row">
                        <li class="video" data-poster="images/h-video1-poster.jpg" data-sub-html="<h4>CGI Animated Short HD: Student Academy Award Winning 'PeckPocketed' by Kevin Herron</h4>" data-html="#video1">
                            <div class="img-vidsection" style="background:url(images/vid1.jpg) no-repeat 0 0;">
                                <div class="table-prop">
                                    <div class="table-cell"><img src="images/vidplay.png"></div>
                                </div>
                                <h4>Johor Bahru </h4>
                            </div>
                        </li>
                        <li class="video" data-html="#video2" data-poster="images/h-video2-poster.jpg" data-sub-html="<h4>Rollin`Wild - Short Funny Animated Clips - Film Academy BW</h4>">
                            <div class="img-vidsection" style="background:url(images/vid2.jpg) no-repeat 0 0;">
                                <div class="table-prop">
                                    <div class="table-cell"><img src="images/vidplay.png"></div>
                                </div>
                                <h4>Klang Tour</h4>
                            </div>
                        </li>
                        <li class="video" data-html="#video3" data-poster="images/h-video3-poster.jpg" data-sub-html="<h4>Big Buck Bunny</h4>">
                            <div class="img-vidsection" style="background:url(images/vid3.jpg) no-repeat 0 0;">
                                <div class="table-prop">
                                    <div class="table-cell"><img src="images/vidplay.png"></div>
                                </div>
                                <h4>Jotaro's Travels</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// total-vidgallery -->
    <div class="container">
        <!-- heading-block -->
        <div class="col-sm-6 col-sm-offset-3 heading-block text-center">
            <h2>Clients Speak</h2>
            <p>Whats being said /About Tripoasia</p>
        </div>
        <!--// heading-block -->
        <div class="work-container">
            <div id="carousel" class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="table-prop">
                            <div class="table-cell">
                                <div class="list-thumb imageFit"> <img alt="" src="images/thumb2.png"> </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="table-prop">
                            <div class="table-cell">
                                <div class="list-thumb imageFit"> <img alt="" src="images/thumb1.png"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="table-prop">
                            <div class="table-cell">
                                <div class="list-thumb imageFit"> <img alt="" src="images/thumb2.png"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="table-prop">
                            <div class="table-cell">
                                <div class="list-thumb imageFit"> <img alt="" src="images/thumb1.png"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="table-prop">
                            <div class="table-cell">
                                <div class="list-thumb imageFit"> <img alt="" src="images/thumb2.png"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="table-prop">
                            <div class="table-cell">
                                <div class="list-thumb imageFit"> <img alt="" src="images/thumb1.png"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="table-prop">
                            <div class="table-cell">
                                <div class="list-thumb imageFit"> <img alt="" src="images/thumb2.png"></div>
                            </div>
                        </div>
                    </li>
                    <!-- items mirrored twice, total of 12 -->
                </ul>
            </div>
            <div id="slider" class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="work-block">
                            <p>Pellentesque vitae convallis risus, vitae mollis tellus. Curabitur nunc sem, venenatis non consequat et, gravida sed lorem vitae elementum. enenatis non consequat et, gravida sed lorem vitae elementum.</p>
                            <h4>Kate Woodley</h4>
                            <h6>Student</h6>
                        </div>
                    </li>
                    <li>
                        <div class="work-block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Kate Woodley</h4>
                            <h6>Student</h6>
                        </div>
                    </li>
                    <li>
                        <div class="work-block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Kate Woodley</h4>
                            <h6>Student</h6>
                        </div>
                    </li>
                    <li>
                        <div class="work-block">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque. </p>
                            <h4>Kate Woodley</h4>
                            <h6>Student</h6>
                        </div>
                    </li>
                    <li>
                        <div class="work-block">
                            <p>Nam eget urna venenatis, egestas tellus ut, congue mauris. Donec vel luctus est. Sed turpis lectus, lacinia at sem ut, rhoncus vestibulum massa. </p>
                            <h4>Kate Woodley</h4>
                            <h6>Student</h6>
                        </div>
                    </li>
                    <li>
                        <div class="work-block">
                            <p>Nam eget urna venenatis, egestas tellus ut, congue mauris. Donec vel luctus est. Sed turpis lectus, lacinia at sem ut, rhoncus vestibulum massa. </p>
                            <h4>Kate Woodley</h4>
                            <h6>Student</h6>
                        </div>
                    </li>
                    <li>
                        <div class="work-block">
                            <p>Nam eget urna venenatis, egestas tellus ut, congue mauris. Donec vel luctus est. Sed turpis lectus, lacinia at sem ut, rhoncus vestibulum massa. </p>
                            <h4>Kate Woodley</h4>
                            <h6>Student</h6>
                        </div>
                    </li>
                    <!-- items mirrored twice, total of 12 -->
                </ul>
            </div>
        </div>
    </div>
    <!-- belong-anywhere -->
    <div class="belong-anywhere">
        <!-- Place somewhere in the <body> of your page -->
        <div class="flexslider">
            <ul class="slides">
                <li class="imageFit">
                    <img src="images/belong1.jpg" />
                    <div class="text-abs">
                        <div class="table-prop">
                            <div class="table-cell">
                                <h2>Belong anywhere</h2>
                                <p>See how Tripoasia hosts create a sense of belonging around the world</p>
                                <a href="" class="btn btn-default only-border text-uppercase">discover</a>
                                <div class="bottom-panel">
                                    <div class="list-thumb imageFit"> <img alt="" src="images/thumb2.png"></div>
                                    <h3>Hosted by Mil Ling</h3>
                                    <h4>Kulalampur</h4>
                                    <p class="price_portion">12588</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="imageFit">
                    <img src="images/belong2.jpg" />
                    <div class="text-abs">
                        <div class="table-prop">
                            <div class="table-cell">
                                <h2>Belong anywhere</h2>
                                <p>See how Tripoasia hosts create a sense of belonging around the world</p>
                                <a href="" class="btn btn-default only-border text-uppercase">discover</a>
                                <div class="bottom-panel">
                                    <div class="list-thumb imageFit"> <img alt="" src="images/thumb2.png"></div>
                                    <h3>Hosted by Mil Ling</h3>
                                    <h4>Kulalampur</h4>
                                    <p class="price_portion">12588</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="imageFit">
                    <img src="images/belong1.jpg" />
                    <div class="text-abs">
                        <div class="table-prop">
                            <div class="table-cell">
                                <h2>Belong anywhere</h2>
                                <p>See how Tripoasia hosts create a sense of belonging around the world</p>
                                <a href="" class="btn btn-default only-border text-uppercase">discover</a>
                                <div class="bottom-panel">
                                    <div class="list-thumb imageFit"> <img alt="" src="images/thumb2.png"></div>
                                    <h3>Hosted by Mil Ling</h3>
                                    <h4>Kulalampur</h4>
                                    <p class="price_portion">12588</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="imageFit">
                    <img src="images/belong2.jpg" />
                    <div class="text-abs">
                        <div class="table-prop">
                            <div class="table-cell">
                                <h2>Belong anywhere</h2>
                                <p>See how Tripoasia hosts create a sense of belonging around the world</p>
                                <a href="" class="btn btn-default only-border text-uppercase">discover</a>
                                <div class="bottom-panel">
                                    <div class="list-thumb imageFit"> <img alt="" src="images/thumb2.png"></div>
                                    <h3>Hosted by Mil Ling</h3>
                                    <h4>Kulalampur</h4>
                                    <p class="price_portion">12588</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--// belong-anywhere -->
</section>
<!--// maincontent -->
<!-- specialist_area -->
<div class="specialist_area">
    <div class="specialist_inner">
        <div class="col-sm-7">
            <div class="specialist-left">
                <span>
                      10
                        <b><i class="fa fa-comment" aria-hidden="true"></i></b>
                    </span>
                <h2>Specialists across</h2>
                <p>the Kuala Lumpur to assist you</p>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="specialist-right">
                <ul>
                    <li><img src="images/img1.png" alt=" "></li>
                    <li><img src="images/img2.png" alt=" "></li>
                    <li><img src="images/img3.png" alt=" "></li>
                    <li>
                        <a href="#"><img src="images/img4.png" alt=" "></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfkxWqWvkCgV98vpdJ0-OyI5Is0haecHY&callback=siteneccesities.inithomemap" async defer></script>
